.section-footer {
	background: #2f303a;
	padding: 60px 0;
}

.footer-container {
	display: flex;

	flex-direction: column;
	text-align: center;

	@media screen and (min-width: 768px) {
		padding-left: 76px;
		padding-right: 89px;
	}

	@media screen and (min-width: 1200px) {
		// flex-wrap: wrap;
		// align-content: space-between;
		// justify-content: space-between;
		// align-items: baseline;
		justify-content: space-between;
	}
}

@media screen and (min-width: 768px) {
	.footer__wrap {
		display: flex;
		align-items: baseline;
		// margin-left: auto;
		justify-content: space-between;
	}
}

.footer__logo {
	color: var(--main-white);
	margin-right: 0;
	padding: 0;
	// align-items: center;

	@media screen and (min-width: 480px) {
		font-size: 24px;
		line-height: calc(28 / 24);
	}
}

.footer-address {
	margin-top: 28px;
	margin-bottom: 60px;

	&__item:nth-child(n + 2) {
		margin-top: 12px;
	}

	&__city {
		line-height: 1.71;
		font-style: normal;
		color: var(--main-white);
	}

	&__contacts {
		color: rgba(255, 255, 255, 0.6);
		font-style: normal;
		line-height: 1.71;
		text-align: left;
		transition: color var(--common-anim-time) var(--common-cubic-bezier);
	}

	&__contacts:hover,
	&__contacts:focus {
		color: var(--main-blue);
	}
}

/* Вкладенний блок footer-socials */

.footer-socials {
	margin-bottom: 60px;

	&__subtitle {
		@include font(14px, 1.143, inherit);
		text-transform: uppercase;
		color: var(--main-white);
		margin-bottom: 20px;
	}

	&__link {
		background: rgba(255, 255, 255, 0.1);
		fill: var(--main-white);
	}
}

/* Форма для підвала */

.footer-form {
	width: 100%;
	// display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--main-white);

	@media screen and (min-width: 768px) {
		margin-left: 83px;
	}

	@media screen and (min-width: 1200px) {
		margin-left: 93px;
		display: flex;
		justify-content: space-between;
	}

	&__title {
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: baseline;
	}

	&__field {
		width: 100%;
		padding: 14px 16px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		@include font(inherit, 1.25, inherit);
		font-weight: 400;
		border-radius: 4px;
		background-color: #2f303a;
		color: rgba(255, 255, 255, 0.6);
		outline: none;
	}
	@media screen and (min-width: 1200px) {
		justify-content: space-between;
	}

	&__field::placeholder {
		color: rgba(255, 255, 255, 0.6);
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
	}

	@media screen and (min-width: 768px) {
		width: 450px;
	}

	@media screen and (min-width: 1200px) {
		width: 358px;
	}

	&__field:focus {
		border: 1px solid var(--main-blue);
		outline: none;
	}

	&__btn {
		@extend %btn;
		position: relative;
		padding: 8px 62px 8px 28px;
		margin-top: 20px;
	}

	&__btn:hover .footer-form__icon,
	&__btn:focus .footer-form__icon {
		fill: var(--main-black);
	}

	&__icon {
		position: absolute;
		fill: var(--main-white);
		left: 148px;
		top: 13px;
		// @include transition(fill);
		transition: fill var(--common-anim-time) var(--common-cubic-bezier);
	}
}
