.hero {
	// Phone

	text-align: center;
	background: #2f303a;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	padding: 118px 0;
	background-size: cover;
	background-image: linear-gradient(
			to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../images/hero/bg_mob@1x.jpg);

	@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		background-image: url(../images/hero/bg_mob@2x.jpg);
	}

	// Tablet

	@media screen and (min-width: 481px) {
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../images/hero/bg_tabl@1x.jpg);

		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url(../images/hero/bg_tabl@2x.jpg);
		}
	}

	// Desktop

	@media screen and (min-width: 769px) {
		padding: 200px 0;
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../images/hero/bg_desk@1x.jpg);

		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url(../images/hero/bg_desk@2x.jpg);
		}
	}

	&__headline {
		text-transform: uppercase;
		color: var(--main-white);
		font-weight: 900;
		letter-spacing: 0.06em;
		text-align: center;
		margin: 0 auto;
		@include font(26px, 1.615, 0.06em);
		// width: 360px;

		@media screen and (min-width: 1200px) {
			font-size: 44px;
			line-height: 1.36;
			width: 696px;
		}
	}

	&__btn {
		@extend %btn;
		margin-top: 30px;
		padding: 10px 24px;
	}
}
