.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	padding: 48px 40px;
	background-color: #ffffff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
		0px 1px 3px rgba(0, 0, 0, 0.16);

	transform: translateX(100%);
	transition: transform var(--common-anim-time) var(--common-cubic-bezier);

	&.is-open {
		transform: translateX(0);
	}
}

.menu-container .menu-toggle {
	position: absolute;
	top: 10px;
	right: 15px;
	color: #fff;
}

.menu-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	margin-left: auto;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;

	@media screen and (min-width: 768px) {
		display: none;
	}

	&__icon:hover,
	&__icon:focus {
		fill: var(--main-blue);
	}

	&:hover .menu-toggle__icon,
	&:focus .menu-toggle__icon {
		fill: var(--main-blue);
	}

	&__icon {
		fill: #000000;
		@include transition(fill);
	}
}

.mobile-menu {
	margin-bottom: auto;
	@include font(35px, 1.175, 0.02em);
	font-weight: var(--font-weight-regular);
	cursor: pointer;

	@media screen and (min-width: 480px) {
		@include font(40px, 1.175, 0.02em);
	}

	&__item:not(:last-child) {
		margin-bottom: 32px;
	}

	&__link:hover,
	&__link:focus {
		color: var(--main-blue);
	}
}

.mobile-contacts {
	&__item:not(:last-child) {
		margin-bottom: 32px;
	}

	&__link {
		font-weight: var(--font-weight-regular);
		@include font(25px, 1.176, 0.02em);
		color: var(--main-blue);

		@media screen and (min-width: 480px) {
			@include font(34px, 1.176, 0.02em);
		}
	}

	&__link--font {
		font-weight: var(--font-weight-regular);
		@include font(20px, 1.166, 0.02em);
		color: var(--main-grey);

		@media screen and (min-width: 480px) {
			@include font(24px, 1.166, 0.02em);
		}
	}
}

.mobile-socials {
	display: flex;
	font-weight: var(--font-weight-regular);
	@include font(10px, 1.222, 0.02em);
	color: var(--main-blue);
	margin-top: 64px;

	// @media screen and (mz-width: 480px)
	// @include font(10px, 1.222, 0.02em);

	@media screen and (min-width: 480px) {
		@include font(18px, 1.222, 0.02em);
	}

	&__item {
		margin-right: 20px;
		cursor: pointer;
	}

	&__item:not(:last-child)::after {
		content: "";
		position: absolute;
		height: 1px;
		width: 22px;
		border: 1px solid rgba(33, 33, 33, 0.2);
		transform: rotate(90deg);
		bottom: 58px;
	}
}
